/* CSS Document */

ul {
    list-style-type: none;
}

li {
    display: inline;
}

/* Nav Bar */
a:link {
    padding: 14px 30px;
    text-decoration: none;
    color: dimgrey;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 14px;
    border:none;
}

a:visited {
    color: slategrey;
}

a:hover {
    color: navy;
}

a:active {
    color: darkslategrey;
}

h1 {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    margin: 50px 20px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    margin-top: -45px;
    margin-left: 20px;
}

tr {
    vertical-align: bottom;  
}

/* Table Headings */
th {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 400;
    padding: 4px 20px;
}

/*Table Data */
td {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    color: black;
    font-size: 14px;
    padding: 4px 30px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

/* Alternating Color */
tr:nth-child(2n) {
    background-color: beige;
}

span {
    font-style: italic;
    font-weight: 200;
}

table {
    border-collapse: collapse;
    border-bottom: 1px solid grey;
}

tbody {
    border: 1px solid grey;
}